<h2>
    Complete tasks
</h2>
{% if tasks | count == 0 %}
    <em>None</em>
{% else %}
<table>
    <tr>
        <th class='task'>Task</th>
        <th class='date'>Completed</th>
        <th class='edit'></th>
        <th class='toggle'></th>
    </tr>
{% for task in tasks %}
    <tr>
        <td>{{task.description | safe}}</td>
        <td>{{task.completed_on | date}}</td>
        <td class='edit'><a href="/task/{{task.id}}/edit">edit</a></td>
        <td class='toggle'>
            <form method="post" action="/task/{{task.id}}/undo/">
                <button type="submit">
                    undo
                </button>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}